$background: rgb(224,222,203);

.Login,
.Register,
.Dashboard {
  height: 100vh;
  background-color: #4b3f72;
}

#registerCard, #loginCard, #dashboardOptions {
  background-color: #e9d2c0;
}

#submitButton, #loginButton, #myJourneysButton, #makeAReportButton {
  background-color: #417b5a;
  border-color: #417b5a;
}

body {
    padding: 0px;
    margin: 8px;
    background-color: white;
}

h1 {
    font-size: 20px;
}
.main-text {
    font-size: 16px;
    color: rgb(31,32,65);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 24px;
    background: rgb(224,222,203);
}

nav {
    background: rgb(31,32,65);
    list-style: none;
}