@import './colourVariables';


#homeLink, #searchLink, #reportLink, #profileLink{
  color: $bone;
  padding: 0.5em;
}

#loginLink, #registerLink {
  color: $bone;
  font-size: 30px;
  text-decoration: none;
  padding: 0.2em;
}

#homeIcon, #searchIcon, #reportIcon, #profileIcon {
   width: 30px;
   height: 30px;
}

#custom-toggler {
  background-color: $bone;
    
}


.Login,
.Register,
.Dashboard {
  height: 100vh;
  background-color: $cyberGeorge;
}

#registerCard, #loginCard, #dashboardOptions {
  background-color: $champagnePink;
}

#submitButton, #loginButton, #myJourneysButton, #makeAReportButton {
  background-color: $amazon;
  border-color: $amazon;
}

body {
    background-color: $bone;
}

h1 {
    font-size: 20px;
}
.main-text {
    font-size: 16px;
    color: $spaceCadet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    line-height: 24px;
    background: $bone;
}

.container {

}

.nav {
    background: $spaceCadet;
    list-style: none;
    align-content: initial;
}


